.outerContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    height: 60%;
    width: 35%;
}
.Container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 8px;
    height: 60%;
    width: 35%;
}
 
